# Auto detect text files and perform LF normalization

* text=auto


# Make sure graphics files are treated appropriately (binary excepct for .svg)

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text


# Exclude files not needed for running the theme from the export zip

/.gitattributes export-ignore
/.gitignore     export-ignore
/sass/ export-ignore
